<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kalender</title>

    <!-- Linking -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <script src="/js/bootstrap.js"></script>
    <script src="/js/quote.js"></script>
  </head>

  <body>
    <!-- Venstrestillet Navbar -->
    <nav class="sidebar-nav">
      <div class="nav-header">
        <h2>Bike Shop</h2>
      </div>
      <ul class="nav-menu">
        <li class="nav-item">
          <a class="nav-link" href="/calendar">
            <span class="nav-text">Calendar</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/jobs">
            <span class="nav-text">Job List</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">
            <span class="nav-text">Products</span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- Sideindhold -->
    <main class="main-content">
      <div class="container">
        <!-- Header -->
        <h1 class="header">Performsport Calendar</h1>

        <!-- Quote -->
        <p
          class="clickable text-primary"
          style="cursor: pointer"
          onclick="sendQuote()"
        >
          Click Here to See The Quote of The Day!
        </p>
        <div id="output"></div>
        <ul>
          <li th:each="u : ${users}" th:text="${u.display_name}"></li>
        </ul>
      </div>
    </main>
  </body>
</html>
