<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title -->
    <title>P3 Project Program</title>

    <!-- Linking -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/bootstrap.js"></script>
    <script src="/js/quote.js"></script>
  </head>

  <body>
    <!-- Body -->
    <div class="container">
      <!-- Header -->
      <h1 class="header">Performsport Calendar</h1>

      <!-- Quote -->
      <p
        class="clickable text-primary"
        style="cursor: pointer"
        onclick="sendQuote()"
      >
        Click Here to See The Quote of The Day!
      </p>
      <div id="output"></div>
      <ul class="list-group">
        <li class="list-group-item" th:each="u : ${users}">
          <span th:text="${u.display_name}">Display Name</span>
          &nbsp;(<span th:text="${u.email}">email</span>)
          &nbsp;
          <a th:href="@{'/users/' + ${u.id} + '/edit'}" class="btn btn-sm btn-link">Edit</a>
        </li>
      </ul>
    </div>
  </body>
</html>
