<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Detaljer</title>

    <!-- Linking -->
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
    <!-- Page Container (No Nav Bar) -->
    <div class="page-content-container m-4">
        <!-- Card Container -->
        <div class="d-inline-flex" style="width: 100%">
            <!-- Description Card -->
            <div class="card me-2" style="width: 100%">
                <div class="card-header d-inline-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Detaljer</h5>
                    <a href="#" class="btn btn-primary align-co" style="width: 6rem">Rediger</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Status:</li>
                    <li class="list-group-item">Dato:</li>
                    <li class="list-group-item">Bike:</li>
                    <li class="list-group-item">Customer:</li>
                    <li class="list-group-item">Phone:</li>
                </ul>
            </div>
            <!-- Description Card -->
            <div class="card ms-2" style="width: 100%">
                <div class="card-header d-inline-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Description</h5>
                    <a href="#" class="btn btn-primary align-co" style="width: 6rem">Rediger</a>
                </div>
                <p class="card-text mx-2 my-2">Hjulskift + Styr Installation</p>
            </div>
        </div>

        <!-- Table Container -->
        <div class="table-content-container mt-6">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Produkter</th>
                    <th scope="col">Antal</th>
                    <th scope="col">Styk Pris</th>
                    <th scope="col">Total Pris</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Komplet Service</td>
                    <td>1</td>
                    <td>700,00 Kr.</td>
                    <td>700,00 Kr.</td>
                </tr>
                <tr>
                    <td>GP5000, 700x30C</td>
                    <td>2</td>
                    <td>419,95</td>
                    <td>839,90</td>
                </tr>
                </tbody>
            </table>
        </div>

        <button type="button" class="btn btn-primary">Tilføj Produkt</button>
    </div>
</body>
</html>