<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job Liste</title>

        <!-- Linking -->
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <script src="/js/bootstrap.js"></script>
        <script src="/js/quote.js"></script>
    </head>

    <body class="d-flex justify-content-center">
    <!-- Navbar -->
    <div class="w-15">
        <nav>
            <script src="/js/navbar.js"></script>
        </nav>
    </div>

    <!-- The main part of the page -->
    <div class="w-85 d-flex flex-column m-5 p-4 border border-secondary-subtle rounded-4 shadow-sm">
        <!-- Tob part of the page -->
        <div class="d-inline-flex">
            <div class="d-inline-flex gap-4">
                <p class="fs-3 fw-bolder p-0 m-0">Reperationer</p>
            </div>
        </div>

        <!-- search -->
        <div class="d-flex flex-column justify-content-center" style="height: 20rem">
            <div class="d-inline-flex w-100 gap-5">
                <button class="btn btn-primary">
                    Tilføj ny reperation
                </button>
                <div class="w-30 border border-secondary p-2" style="cursor: pointer">Search bar</div>
                <div class="border border-secondary p-2" style="cursor: pointer">
                    filter
                </div>
            </div>
        </div>
    <!-- Table to show the actual jobs -->
        <table class="table table-hover align-middle mt-lg-3">
            <thead>
            <tr>
                <th scope="col">Ordreinformationer</th>
                <th scope="col">Status</th>
                <th scope="col">Beskrivelse</th>
                <th scope="col">Data og tid</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="j : ${jobs}"
                th:attr="data-href=@{/jobliste/{id}(id=${j.id})}"
                style="cursor: pointer">
                <td class="w-15">
                    <div class="d-flex flex-column gap-1">
                        <p class="fw-bolder mb-1" th:text="${j.title}"></p>
                        <p class="mb-0" th:text="${j.customer_name}"></p>
                        <p th:text="${j.customer_phone}"></p>
                    </div>
                </td>
                <td class="w-15">
                    <div>
                    <p th:text="${j.status}"></p>
                    </div>
                </td>
                <td class="w-30">
                    <div class="w-75">
                        <p th:text="${j.job_description}"></p>
                    </div>
                </td>
                <td class="w-30" th:text="${#temporals.format(j.date, 'd. MMMM yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    </body>
</html>

<!--Table navigation using Thymeleaf. when licking on a row in a table, use "window.location" to navigate to the jobDetails page with information from the job. -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.getAttribute("data-href");
            });
        });
    });
</script>